<button (click)="toggle()" id="bt" class="btn btn-warning">
  {{buttonName}}
</button>

<div *ngIf="show" >
  <div style="margin: 0 auto;text-align: left;">
      <p highlight>This is my paragraph</p>
  </div>
</div>
<div scroll style="width:250px; height:80px; overflow:auto;">
  <table class="table table-bordered table-dark">
    <tr>comment</tr>
    <tr *ngFor="let t of dates; let i=index" [ngClass] = "i>=5 ? 'change' : ''"  [style.color]="i>=5 ? 'white' : ''" >{{i+1}}. {{ today | date:'shortTime' }}</tr>
  </table>  
</div>


<router-outlet></router-outlet>